*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

h1 {
    text-align: center;
    margin:20px auto 0px;
    max-width: 600px;
    font-size: 60px;
    color: lightcoral;
}

h2 {
    margin-top: 80px;
    text-align: center;
    color: lightcoral;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}

.button-container .rps-btn{
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    transition: 1s;
}

.button-container .rps-btn:hover {
    background-color: lightsalmon;
}

.result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    font-size: 2rem;
}